@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcwNzEzNTE2MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');

}

#container {
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

#search input {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    background: #7c7c7c2b;
    color: #fff;
    width: calc(100% - 50px);
}

#search button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #acabab2b;
    cursor: pointer ;
    float: right;
}

#img-search {
    width: 20px;
}

#infos {
    color: antiquewhite;
    margin-top: 30px;
}

#city {
    font-size: 28px;
    font-weight: 400;
}

#temp {
    font-size: 20px;
    margin-top: 30px;
}

#sky-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#sky-info p {
    font-size: 20px;
    text-transform: capitalize;
}

#humidity {
    font-size: 20px;
    margin-top: 10px;
}